* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo";
  background-color: #121725;
  text-align: center;
  font-weight: 100;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 4em;
}

.image-host {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  overflow: hidden;
}

.image-host-sm {
  min-height: 100%;
  min-width: 100%;
}

.image-host-md,
.image-host-lg {
  display: none;
}

.header {
  color: white;
  font-size: 1.625rem;
  text-transform: uppercase;
  line-height: 1.375em;
  margin-top: 1.75em;
}

.text--accent {
  color: #54e6af;
}

.description {
  color: #c2cbe5;
  line-height: 1.5em;
  margin: 1.5em 0;
  padding: 0 1.25em;
}

.platforms-md {
  display: none;
}

.platforms-sm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;
}

.platforms-sm img {
  max-width: 100%;
  fill: #5a668a;
  opacity: 0.5;
  max-height: 17px;
}

#form {
  display: flex;
  flex-direction: column;
}

#form input {
  background-color: #2c344b;
  border: none;
  padding: 1em 2em;
  border-radius: 2.5em;
  margin: 1em 0;
}

::placeholder {
  color: #fff;
  font-weight: bold;
}

#form button {
  padding: 1em 0;
  border-radius: 2.5em;
  border: none;
  color: #121725;
  font-weight: bold;
  background-color: #54e6af;
  cursor: pointer;
}

#form button:hover {
  background-color: #b3ffe2;
}

.pattern-dots {
  display: none;
}

@media (min-width: 600px) {
  body {
    text-align: start;
    font-size: 18px;
  }

  .container {
    position: relative;
    width: 100%;
    padding-top: 2.5em;
  }

  .image-host {
    opacity: 1;
    max-width: 60%;
    height: 100%;
    right: 0;
    left: auto;
  }

  .image-host-sm {
    display: none;
  }

  .image-host-md {
    display: block;
    min-width: 100%;
    min-height: 100%;
  }

  .logo {
    margin-left: 5%;
  }

  .content {
    background-color: #121725;
    padding-top: 4.5em;
    width: 80%;
    margin-left: 5%;
    margin-top: 5em;
  }

  .header {
    margin: 0;
    font-size: 3rem;
  }

  .description {
    padding: 0;
    width: 70%;
  }

  .platforms-sm {
    display: none;
  }

  .platforms-md {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
  }

  .platforms-md img {
    max-width: 100%;
    fill: #5a668a;
    opacity: 0.5;
    max-height: 30px;
  }

  #form {
    flex-direction: row;
    width: 70%;
    background-color: #2c344b;
    border-radius: 1.5em;
    padding: 0.25em;
    margin: 2.5em 0;
  }

  #form input {
    margin: 0;
    width: 65%;
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
  }

  #form button {
    width: 35%;
  }

  .pattern-dots {
    display: block;
    position: absolute;
    bottom: 0;
    left: 5%;
  }
}
